langchain
langchain_community
unstructured
python-docx
docx
dotenv
openai
qdrant-client
tiktoken
langchain
langchain_community
langgraph
langchain-groq
langchain_openai
uvicorn
fastapi
langchain-qdrant
pydantic
